<!doctype html>
<html lang="en">
<head>
    <title> Registrarte CodeCrafters</title>
    <link rel="icon" href="imagenes/2387635.png">
</head>

<link rel="stylesheet" href="Registro.css">


<img src="imagenes/RegistroIMG.jpg" alt="Imagen decorativa" class="imagen-decorativa";>

<body>

<section class="form-registrer">
    <div class="nombre-apellidos-container"> <input class="controls" type="text" name="text" id="nombres" placeholder="your name" required minlength="3">
        <input class="controls" type="text" name="text" id="apellidos" placeholder="your last name" required minlength="3">
    </div>
    <input class="controls" type="text" name="text" id="nombreUsuario" placeholder="your user name" required minlength="3">
    <input class="controls" type="text" name="email" id="correo" placeholder="your email">
    <input class="controls" type="password" name="password" id="contraseña" placeholder="your password">
    <form action="Link " method="post">
        <input class="botons" type="submit" value="create an acount">
    </form>
    <p><a href="link"> Do you already have an account?</a> </p>
</section>

</body>


</html>



