<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slider</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<section class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <img id="1.png"  src="slider-imagen/img.png" alt="">
            <img id="2.png" src="slider-imagen/img_1.png"  alt="">
            <img id="3.png" src="slider-imagen/img_2.png"  alt="">
        </div>
        <div class="slider-nav">
            <a href="#1.png"></a>
            <a href="#2.png"></a>
            <a href="#3.png"></a>
        </div>
    </div>


</section>
</body>
</html>