<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaPinux</title>
    <link rel="icon" href="imagenes/imgLogo.jpeg">
    <link rel="stylesheet" href="ToDo2.css">
    <link rel="stylesheet" href="https://fontawesome.com/v3/get-started">

</head>

<div class="container">
    <h1>My To Do list</h1>
    <div class="search">
        <form>
            <input class="cuadrado" type="text" placeholder="   Add a task...">
            <button class="btn-add">+</button>
        </form>
    </div>
    <div class="li-container">
        <ul>

        </ul>
    </div>
    <div class="empty">
        <p>You don't have pending tasks.</p>
    </div>


</div>

<div class="date-box">
    <p id="current-date"></p>
</div>

<script src="ToDo2.js"></script>
</body>
</html>
