<!doctype html>
<html lang="en">
<head>
    <title> MaPinux </title>
    <link rel="icon" href="imagenes/imgLogo.jpeg">
</head>

<link rel="stylesheet" href="login.css">

<body>

<div id="particles-js"></div>

<section class="form-registrer">

    <div class="slider"></div>

    <input class="controls1" type="text" name="text" id="nombreUsuario" placeholder="Username or Email" required minlength="3">
    <input class="controls2" type="password" name="password" id="contraseña" placeholder="Password">
    <a href="login.html" style="color: white">Don't you have an account yet?</a>
        <form action="Link " method="post">
        <input class="botons" type="submit" value="sing up">
    </form>
</section>

<!-- JS Particles.js -->
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="Login.js"></script>

</body>
</html>



